/*button structure*/
button {
  padding: 5px 15px;
  background: #2c3e50;
  color: white;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

/*progress bar structure*/
.progressBar {
  width: 100%;
  border: 3px solid black;
  margin: 20px auto;
  text-align: center;
  line-height: 15px;
  border-radius: 5px;
}

/*loading structure inside bar*/
.loading {
  background-color: lightskyblue;
  width: 0%;
  height: 15px;
}
